@media (max-width: 800px){

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background: #f1f5f8;
}


.toggle{
  position: fixed;
  right: 2.5rem;
  top: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: #49a6e9;
  background: none;
  border: none;
  /* z-index: 1; */
}
#tog-btn{
  display: block;
}

#container{
  display: block;
}
.container-p{
  display: none;
}
.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.backdrop--active{
  display: block;
}
.show-sidebar{
  max-width: 25rem;
  z-index: 99;
  background: white;
  height: 100vh;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Roboto', sans-serif;
  transform: translateX(-100%);
}
.show-sidebar--active{
  transform: translateX(0);
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  max-width: 24rem;
  padding: 1.2rem;
}
.sidebar-header button{
  cursor: pointer;
  font-size: 1.8rem;
  color: #bb2525;
  background: none;
  border: none;
}
.sidebar-links li{
  list-style: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.sidebar-links li a{
  text-decoration: none;
  color: #617d98;
}
.sidebar-links li:hover{
  background: #a5d5f8;
  padding-left: 1.75rem;
  cursor: pointer;
}
.sidebar-links li a:hover{
  color: #49a6e9;
}
.contact-links{
  display: flex;
  position: fixed;
  bottom: 2rem;
  left: 60px;
  max-width: 25rem;
}
.contact-links a{
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #49a6e9;
  transition: all 0.3s linear;
}
.contact-links a:hover{
  color: #2b7db7;
}
}

