*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background: #0e1e25;
  font-family: 'Roboto', sans-serif;
}
.container{
  background: #ffff;
  color: #1e2b31;
  padding: 1rem;
  border-radius: 0.25rem;
  max-width: 400px;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
h1{
  font-size: 1.5rem;
}
h1, p, hr{
  margin: .8rem;
  line-height: 1.4rem;}
a{
  text-decoration: none;
  font-weight: 600;
  line-height: 24px;
  color: #007067;
}
.fas{
  padding-right: 0.4rem;
}

